@model IEnumerable<KoiDeliveryOrdering.Data.Dtos.Documents.DocumentDto>


<div class="container w-100">
    <h1>Document list</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div style="display: grid;width: 100%">
        <div style="overflow-x: auto">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-nowrap">Id</th>
                    <th class="text-nowrap">Delivery order id</th>
                    <th class="text-nowrap">Document number</th>
                    <th class="text-nowrap">Document type</th>
                    <th class="text-nowrap">Issue date</th>
                    <th class="text-nowrap">Expiration date</th>
                    <th class="text-nowrap">Consignee name</th>
                    <th class="text-nowrap">Consignee phone</th>
                    <th class="text-nowrap">Consignee address</th>
                    <th class="text-nowrap">Exporter name</th>
                    <th class="text-nowrap">Exporter phone</th>
                    <th class="text-nowrap">Exporter address</th>
                    <th class="text-nowrap">Dispatch method</th>
                    <th class="text-nowrap">Transportation type</th>
                    <th class="text-nowrap">Shipping fee</th>
                    <th class="text-nowrap">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-nowrap">
                            @item.Id
                        </td>
                        <td class="text-nowrap">
                            @item.DeliveryOrderId
                        </td>
                        <td class="text-nowrap">
                            @item.DocumentNumber
                        </td>
                        <td class="text-nowrap">
                            @item.DocumentType
                        </td>
                        <td class="text-nowrap">
                            @item.IssueDate
                        </td>
                        <td class="text-nowrap">
                            @item.ExpirationDate
                        </td>
                        <td class="text-nowrap">
                            @item.ConsigneeName
                        </td>
                        <td class="text-nowrap">
                            @item.ConsigneePhone
                        </td>
                        <td class="text-nowrap">
                            @item.ConsigneeAddress
                        </td>
                        <td class="text-nowrap">
                            @item.ExporterName
                        </td>
                        <td class="text-nowrap">
                            @item.ExporterPhone
                        </td>
                        <td class="text-nowrap">
                            @item.ExporterAddress
                        </td>
                        <td class="text-nowrap">
                            @item.DispatchMethod
                        </td>
                        <td class="text-nowrap">
                            @item.TransportationType
                        </td>
                        <td class="text-nowrap">
                            @item.ShippingFee
                        </td>
                        <td class="text-nowrap">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>