@model KoiDeliveryOrdering.MVCWebApp.Utils.PaginatedList<DeliveryOrderModel>

@{
    ViewData["Title"] = "Index";
}

<div class="w-100">
    <div class="table-responsive">
        <div class="row">
            <div class="col-md-10">
                <h1>Deliver Orders</h1>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                <a asp-action="Create" class="btn btn-success mt-5">Create New</a>
            </div>
        </div>
        <div class="row mb-4 mt-5">
            <div class="d-flex flex-column text-sm align-items-end">
                <div class="search-box rounded border border-2 bg-white p-3 w-25 me-3">
                    <div class="position-relative mb-2 w-100 d-flex align-items-center justify-content-between rounded">
                        <svg class="position-absolute" style="left: 8px; height: 20px; width: 20px; color: gray;" 
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" class=""></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65" class=""></line>
                        </svg>
                        <input  type="text" id="default-search" name="search"
                                class="form-control ps-5 pe-5"
                                placeholder="Search by name, address, amount, etc" />
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        <img src="https://img.icons8.com/?size=100&id=26139&format=png&color=000000"
                                style="height: 20px; width: 20px; color: gray; cursor: pointer;"
                                id="toggleFilter"
                                width="24" height="24"
                                isUp="false" />
                    </div>

                    <div class="d-flex flex-column">
                        <div class="filterPanel row d-none">
                            <div class="col-md-4 mb-3">
                                <label for="senderAddressSearch" class="form-label text-muted">Sender Address</label>
                                <div class="d-flex flex-column">
                                    <input name="senderAddressSearch" type="text" id="senderAddressSearch" placeholder="Go Vap, HCM" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="recipientAddressSearch" class="form-label text-muted">Recipient Address</label>
                                <div class="d-flex flex-column">
                                    <input name="recipientAddressSearch" type="text" id="recipientAddressSearch" placeholder="Hai Ba Trung, HN" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="shippingFeeSearch" class="form-label text-muted">Shipping Fee</label>
                                <div class="d-flex flex-column">
                                    <input name="shippingFeeSearch" type="number" id="shippingFeeSearch" placeholder="20.000đ" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="orderStatusSearch" class="form-label text-muted">Order Status</label>
                                <div class="d-flex flex-column">
                                    <input name="orderStatusSearch" type="text" id="orderStatusSearch" placeholder="Pending..." class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="paymentMethodSearch" class="form-label text-muted">Payment Method</label>
                                <div class="d-flex flex-column">
                                    <input name="paymentMethodSearch" type="text" id="paymentMethodSearch" placeholder="VNPay, Momo,..." class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="totalAmountSearch" class="form-label text-muted">Total Amount</label>
                                <div class="d-flex flex-column">
                                    <input name="totalAmountSearch" type="number" id="totalAmountSearch" placeholder="100.000đ" class="form-control" value="" />
                                </div>
                            </div>

                        </div>

                        <div class="mt-4 d-flex justify-content-end">
                            <button id="btn-filter-reset" class="btn btn-light me-2" type="button">Reset</button>
                            <button class="btn btn-primary mx-3" role="button" onclick="handleSearch()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="text-start">
                    Recipient Name
                    <img width="13" height="13"
                        class="sorting-icon"
                         src="https://img.icons8.com/ios-glyphs/30/sort.png" alt="sort"
                         value="+recipientName" role="button" />
                </th>
                <th class="text-start">
                    Recipient Address
                </th>
                <th class="text-start">
                    Sender Name
                    <img width="13" height="13"
                        class="pe-auto sorting-icon"
                        src="https://img.icons8.com/ios-glyphs/30/sort.png" alt="sort"
                        value="+senderName" role="button" />
                </th>
                <th class="text-start">Sender Address</th>
                <th class="text-start">Tax Fee</th>
                <th class="text-start">
                    Payment Method
                </th>
                <th class="text-start">Promotion</th>
                <th class="text-start">Shipping Fee</th>
                <th class="text-start" style="width: 100px">
                    Total Amount
                    <img width="13" height="13"
                        class="sorting-icon"
                        src="https://img.icons8.com/ios-glyphs/30/sort.png" alt="sort"
                        value="+totalAmount" role="button" />
                </th>
                <th class="text-start">
                    Order Status
                    <img width="13" height="13"
                        class="sorting-icon"
                        src="https://img.icons8.com/ios-glyphs/30/sort.png" alt="sort"
                        value="+orderStatus" role="button" />
                </th>
                <th class="text-start">Sender Pay</th>
                <th class="text-start">Is International</th>
                <th class="text-start">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 100px">@item.RecipientName</td>
                    <td style="width: 100px">@item.RecipientAddress</td>
                    <td style="width: 100px">@item.SenderInformation.SenderName</td>
                    <td style="width: 100px">
                        @item.SenderInformation.Street, @item.SenderInformation.Ward,
                        @item.SenderInformation.District, @item.SenderInformation.CityProvince
                    </td>
                    <td style="width: 20px">
                        @if (string.IsNullOrEmpty(item.TaxFee.ToString()))
                        {
                            <span>0%</span>
                        }
                        else
                        {
                            <span>@item.TaxFee%</span>
                        }
                    </td>
                    <td style="width: 50px">
                        @if (string.IsNullOrEmpty(item.Payment?.PaymentMethod))
                        {
                            <p><a class="link-opacity-100 fs-5" href="#">Click here to payment</a></p>
                        }
                        else
                        {
                            <span>@item.Payment?.PaymentMethod</span>
                        }
                    </td>
                    <td style="width: 20px">@item.VoucherPromotion?.PromotionRate%</td>
                    <td style="width: 100px" class="text-primary fw-bold">@(string.Format("{0:N0}", item.ShippingFee.BaseFee) + "đ")</td>
                    <td style="width: 100px" class="text-success fw-bold">@(string.Format("{0:N0}", item.TotalAmount) + "đ")</td>
                    <td style="width: 100px" class="fw-bold">@item.OrderStatus</td>
                    <td style="width: 50px">
                        @if (item.IsSenderPurchase)
                        {
                            <img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=VFaz7MkjAiu0&format=png&color=000000" alt="no-image" />
                        }
                        else
                        {
                            <img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=4vD3CGn0ukPX&format=png&color=000000" alt="no-image" />
                        }
                    </td>
                    <td style="width: 50px">
                        @if (item.IsInternational)
                        {
                            <img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=VFaz7MkjAiu0&format=png&color=000000" alt="no-image" />
                        }
                        else
                        {
                            <img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=4vD3CGn0ukPX&format=png&color=000000" alt="no-image" />
                        }
                    </td>
                    <td style="width: 100px">
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-primary btn-sm mx-1" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-warning btn-sm mx-1" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a class="btn btn-danger btn-sm mx-1" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pagination" />
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var pageIndex = @ViewData["PageIndex"];
            var totalPage = @ViewData["TotalPage"];

            // Process paging
            $('#back-page').on('click', function () {
                pageIndex = --pageIndex;
                $(this).removeAttr("disabled");
                $(this).css("opacity", "1");

                var searchTerm = $('#default-search').val();
                var reqData = {
                    "SenderAddressSearch": null,
                    "RecipientAddressSearch": null,
                    "CreateDateSearch": null,
                    "PaymentMethodSearch": null,
                    "ShippingFeeSearch": null,
                    "TotalAmountSearch": null,
                    "OrderStatusSearch": null,
                    "SearchValue": searchTerm,
                    "OrderBy": null,
                    "IsManySearch": false,
                    "PageIndex": pageIndex
                };

                var queryString = $.param(reqData);

                $.ajax({
                    url: `/DeliveryOrder/Search?${queryString}`,
                    type: 'GET',
                    success: function (response) {
                        updateData(response);
                        updatePagingStatus(response.pageIndex, response.totalPage)
                    }
                });
            })
            $('#next-page').on('click', function () {

                pageIndex = ++pageIndex;
                $(this).removeAttr("disabled");
                $(this).css("opacity", "1");

                var searchTerm = $('#default-search').val();
                var reqData = {
                    "SenderAddressSearch": null,
                    "RecipientAddressSearch": null,
                    "CreateDateSearch": null,
                    "PaymentMethodSearch": null,
                    "ShippingFeeSearch": null,
                    "TotalAmountSearch": null,
                    "OrderStatusSearch": null,
                    "SearchValue": searchTerm,
                    "OrderBy": null,
                    "IsManySearch": false,
                    "PageIndex": pageIndex
                };

                var queryString = $.param(reqData);

                $.ajax({
                    url: `/DeliveryOrder/Search?${queryString}`,
                    type: 'GET',
                    success: function (response) {
                        console.log(response);
                        updateData(response);
                        updatePagingStatus(response.pageIndex, response.totalPage)
                    }
                });
            })
        
            // Add event listeners
            updatePagingStatus(pageIndex, totalPage);
            handleSortingClick();
            handleToggleFilterClick();
            handleReset();
        });

        // Update data response
        function updateData(response) {
            let tableBody = document.querySelector('tbody');
            tableBody.innerHTML = '';

            var deliverOrders = response.deliveryOrders;

            deliverOrders.forEach(d => {
                tableBody.innerHTML += 
                `
                            <tr>
                            <td>${d.recipientName}</td>
                            <td>${d.recipientAddress}</td>
                            <td>${d.senderInformation.senderName}</td>
                            <td>${d.senderInformation.street}, ${d.senderInformation.ward}, 
                                ${d.senderInformation.district}, ${d.senderInformation.cityProvince}
                            </td>
                            <td>${d.taxFee}%</td>
                            <td>
                                ${d.payment === null 
                                    ? '<p><a class="link-opacity-100 fs-5" href="#">Click here to payment</a></p>'
                                    : `<span>${d.payment.paymentMethod}</span>`
                                }
                            </td>
                            <td>
                                ${d.voucherPromotion === null
                                    ? '<span>0%</span>'
                                    : `<span>${d.voucherPromotion.promotionRate}%</span>`}
                            </td>
                            <td class="text-primary fw-bold">${d.shippingFee.baseFee}đ</td>
                            <td class="text-success fw-bold">${d.totalAmount}đ</td>
                            <td class="fw-bold">${d.orderStatus}</td>
                            <td>
                                ${d.isSenderPurchase === true
                                ? '<img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=VFaz7MkjAiu0&format=png&color=000000" alt="no-image" />'
                                : '<img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=4vD3CGn0ukPX&format=png&color=000000" alt="no-image" />'}
                            </td>
                            <td>
                                ${d.isInternational === false
                                ? '<img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=VFaz7MkjAiu0&format=png&color=000000" alt="no-image" />'
                                : '<img class="mx-3" width="16" height="16" src="https://img.icons8.com/?size=100&id=4vD3CGn0ukPX&format=png&color=000000" alt="no-image" />'}
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a class="btn btn-primary btn-sm mx-1" href="/DeliveryOrder/Edit/${d.id}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-warning btn-sm mx-1" href="/DeliveryOrder/Detail/${d.id}">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm mx-1" href="/DeliveryOrder/Delete/${d.id}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        `;
            });
        }

        // Update Paging Status
        function updatePagingStatus(pageIndexParam, totalPageParam) {
            if (pageIndexParam !== undefined && totalPageParam !== undefined) {
                pageIndex = pageIndexParam;
                totalPage = totalPageParam;
            }

            $('#current-index').text(`${pageIndex}`);
            $('#total-page').text(`${totalPage}`);


            // Paging default
            $('#next-page').removeAttr("disabled");
            $('#next-page').css("opacity", "1");
            $('#back-page').removeAttr("disabled");
            $('#back-page').css("opacity", "1");

            if (pageIndex <= 1) {
                $('#back-page').attr("disabled", "disabled");
                $('#back-page').css("opacity", "0.5");

                $('#next-page').removeAttr("disabled");
                $('#next-page').css("opacity", "1");
            }
            if (pageIndex >= totalPage) {
                $('#next-page').attr("disabled", "disabled");
                $('#next-page').css("opacity", "0.5");
            }
        }
    
        // Handle sorting click
        function handleSortingClick() {
            $('.sorting-icon').each(function () {
                $(this).on('click', function () {
                    var sortAttr = String($(this).attr('value'));
                    var isDescending = sortAttr.startsWith('-');

                    console.log(sortAttr);

                    // Toggle the sort order
                    if (isDescending) {
                        $(this).attr('value', '+' + sortAttr.substring(1));
                    } else {
                        $(this).attr('value', '-' + sortAttr.substring(1));
                    }

                    var reqData = {
                        "SenderAddressSearch": null,
                        "RecipientAddressSearch": null,
                        "CreateDateSearch": null,
                        "PaymentMethodSearch": null,
                        "ShippingFeeSearch": null,
                        "TotalAmountSearch": null,
                        "OrderStatusSearch": null,
                        "SearchValue": null,
                        "IsManySearch": false,
                        "OrderBy": sortAttr,
                        "PageIndex": pageIndex
                    };

                    var queryString = $.param(reqData);

                    $.ajax({
                        url: `/DeliveryOrder/Search?${queryString}`,
                        type: 'GET',
                        success: function (response) {
                            updateData(response);
                            updatePagingStatus(response.pageIndex, response.totalPage);
                        }
                    });
                });
            });
        }

        // Handle search
        function handleSearch() {
            var searchTerm = $('#default-search').val();

            var isManySearch = searchTerm !== null && searchTerm === "";
            // Initiate many search value
            var senderAddressSearchValue = $('#senderAddressSearch').val();
            var recipientAddressSearchValue = $('#recipientAddressSearch').val();
            var taxFeeSearchValue = $('#shippingFeeSearch').val();
            // var createDateSearchValue = $('#createDateSearch').val();
            var orderStatusSearch = $('#orderStatusSearch').val();
            var deliveryDateSearchValue = $('#paymentMethodSearch').val();
            var totalAmountSearchValue = $('#totalAmountSearch').val();
            

            var reqData = {
                "SenderAddressSearch": senderAddressSearchValue,
                "RecipientAddressSearch": recipientAddressSearchValue,
                // "CreateDateSearch": createDateSearchValue,
                "OrderStatusSearch": orderStatusSearch,
                "PaymentMethodSearch": deliveryDateSearchValue,
                "ShippingFeeSearch": taxFeeSearchValue,
                "TotalAmountSearch": totalAmountSearchValue,
                "SearchValue": searchTerm, 
                "OrderBy": null,
                "IsManySearch": isManySearch,
                "PageIndex": pageIndex 
            };

            var queryString = $.param(reqData);

            $.ajax({
                url: `/DeliveryOrder/Search?${queryString}`,
                type: 'GET',
                success: function (response) {
                    updateData(response);
                    updatePagingStatus(response.pageIndex, response.totalPage);
                }
            });
        }

        // Handle toggle filter click 
        function handleToggleFilterClick(){
            var toggleFilter = $('#toggleFilter');
            var filterPanel = $('.filterPanel');
            var searchBox = $('.search-box');

            toggleFilter.on('click', function () {
                if (filterPanel.hasClass('d-none')) {
                    filterPanel.removeClass('d-none').addClass('d-block'); 
                    toggleFilter.attr('src', 'https://img.icons8.com/?size=100&id=26124&format=png&color=000000');
                    searchBox.removeClass('w-25').addClass('w-50');
                } else {
                    filterPanel.removeClass('d-block').addClass('d-none'); 
                    toggleFilter.attr('src', 'https://img.icons8.com/?size=100&id=26139&format=png&color=000000');
                    searchBox.removeClass('w-50').addClass('w-25');
                }
            });
        }

        // Handle search box reset
        function handleReset(){
            $('#btn-filter-reset').on('click', function () {
                $('#default-search').val('');
                $('#senderAddressSearch').val('');
                $('#recipientAddressSearch').val('');
                $('#shippingFeeSearch').val('');
                // $('#createDateSearch').val('');
                $('#orderStatusSearch').val('');
                $('#paymentMethodSearch').val('');
                $('#totalAmountSearch').val('');


                var reqData = {
                    "SenderAddressSearch": null,
                    "RecipientAddressSearch": null,
                    // "CreateDateSearch": null,
                    "OrderStatusSearch": null,
                    "PaymentMethodSearch": null,
                    "ShippingFeeSearch": null,
                    "TotalAmountSearch": null,
                    "SearchValue": null,
                    "OrderBy": null,
                    "IsManySearch": false,
                    "PageIndex": 1
                };

                var queryString = $.param(reqData);

                $.ajax({
                    url: `/DeliveryOrder/Search?${queryString}`,
                    type: 'GET',
                    success: function (response) {
                        updateData(response);
                        updatePagingStatus(response.pageIndex, response.totalPage);
                    }
                });
            });

        }
    </script>
}